<%@ page contentType="text/html; charset=UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %> 
<%@ taglib prefix="datatables" uri="http://github.com/dandelion/datatables"%>
<meta name="decorator" content="tzxm" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<c:set var="ctx" value="${pageContext.request.contextPath}" />
<!DOCTYPE HTML>
<html lang="cn">
<head>
<title>新增${meta.tableDesc}</title>
</head>
</div>
<body>
	<script type="text/javascript" src="${ ctx }/static/js/bootstrap.js"></script>
	<c:if test="#@@#{not empty message}">
		<div id="message" class="alert alert-success">
			<button data-dismiss="alert" class="close">×</button>${message}</div>
	</c:if>
	
	<form id="form" action="<c:url value='/invest/${meta.l_domainClassName}/${ action }'/>" method="post" class="form-horizontal">
		<div id="main-content">
			<div class="container-fluid">
				<div>
					<input type="hidden" id="idxId" name="idxId" readonly value="${model.id}"/>
				</div>
				<ul class="breadcrumb">
					<shiro:lacksRole name="ADMINISTRATOR">
						<li><a href="<c:url value="/itsm" />">首页</a><span
							class="divider">&raquo;</span></li>
					</shiro:lacksRole>
					<li><a href="<c:url value="/itsm/system" />">系统管理</a><span
						class="divider">&raquo;</span></li>
					<li><a href="<c:url value="/invest/riskDef/list" />">${meta.tableDesc}管理</a><span
						class="divider">&raquo;</span></li>
					<li class="active">${ title }</li>
				</ul>
				<div class="row-fluid">
					<div class="span12">
						<div class="nonboxy-widget">
							<div class="widget-content">
								<div class="widget-box">
									<h5 class="heading">完善${meta.tableDesc}信息</h5>
									<div class="formSep">
										<div class="row-fluid">
											#foreach( ${col} in ${meta.cols} )
												<div class="span3">
													<label>${col.colDesc} <span class="f_req">*</span></label> 
													<input name="${col.fieldName}" class="span12 required" id="${col.fieldName}" value="#{model.${col.fieldName} }"/>
												</div>
											#end
										</div>
									</div>
									<div class="formSep">
										<input id="submit_btn" class="btn btn-info" type="submit" value="提交" /> 
										<input id="cancel_btn" class="btn" type="button" value="返回" onclick="history.back()" />
									</div>																		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
