<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${meta.mapperInterfacePackageName}.${meta.mapperInterfaceClassName}">
	
	<sql id="Base_Column_List" >
		#set($temp=0) 
		#foreach( ${col} in ${meta.cols} )
		#if( $temp >0 ) , #end  ${col.colName} as "${col.fieldName}" 
		#set($temp=$temp+1)
		#end
  	</sql>
	
	<select id="selectByPrimaryKey" resultType="${meta.domainPackageName}.${meta.domainClassName}" parameterType="java.math.BigDecimal" >
    	select 
    	<include refid="Base_Column_List" />
    	from ${meta.tableName}
   		 where 
		#set($temp=0)
		#foreach( ${col} in ${meta.cols} )
		#if($col.isPkFlag())
		#if( $temp >0 ) and #end ${col.colName}=#{${col.fieldName}} 
		#set($temp=$temp+1)
		#end
		#end
  </select>
  
   <select id="selectByExample" resultType="java.util.HashMap" parameterType="${meta.domainPackageName}.${meta.domainClassName}" >
    select 
    <include refid="Base_Column_List" />
    from ${meta.tableName}
    <where>
    	 #foreach( ${col} in ${meta.cols} )<if test="${col.fieldName}!=null">and  ${col.colName}=#{${col.fieldName}}</if>
		#end
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from ${meta.tableName}
    where #set($temp=0)
		#foreach( ${col} in ${meta.cols} )
		#if($col.isPkFlag())
		#if( $temp >0 ) and #end ${col.colName}=#{${col.fieldName}} 
		#set($temp=$temp+1)
		#end
		#end
  </delete>
  
  
  <insert id="insert" parameterType="${meta.domainPackageName}.${meta.domainClassName}" >
    insert into ${meta.tableName}
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	
    	#foreach( ${col} in ${meta.cols} )
    	<if test="${col.fieldName} != null" >${col.colName},</if>
		#end
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	#foreach( ${col} in ${meta.cols} )
    	<if test="${col.fieldName} != null" >#{${col.fieldName}},</if>
		#end
    </trim>
  </insert>
  
   <update id="update" parameterType="${meta.domainPackageName}.${meta.domainClassName}" >
    update ${meta.tableName}
    <set >
    	#foreach( ${col} in ${meta.cols} )
    	<if test="${col.fieldName} != null" >${col.colName} =#{${col.fieldName}},</if>
		#end
    </set>
    where #set($temp=0)
		#foreach( ${col} in ${meta.cols} )
		#if($col.isPkFlag())
		#if( $temp >0 ) and #end ${col.colName}=#{${col.fieldName}} 
		#set($temp=$temp+1)
		#end
		#end
  </update>
  
  
  <delete id="deleteByIds" parameterType="java.math.BigDecimal">
		delete from ${meta.tableName} t where 
		#set($temp=0)
		#foreach( ${col} in ${meta.cols} )
		#if($col.isPkFlag())
		#if( $temp >0 )  #end ${col.colName} 
		#set($temp=$temp+1)
		#end
		#end
		 in
  		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
         </foreach>
	</delete>
	
</mapper>